<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithBootstrap4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger text-white border-bottom shadow p-3 mb-5">
          <h5 class="my-0 mr-md-auto font-weight-bold">Блог на Ruby on Rails + Bootstrap 4</h5>
          <nav class="my-2 my-md-2 mr-md-2">

            <span class="btn btn-light p-7">
              <%= link_to "На главную", home_path %>
            </span>

            <span class="btn btn-light p-7">
              <%= link_to "Обо мне", about_path %>
            </span>

            <span class="btn btn-light p-7">
              <%= link_to "Добавить статью", new_post_path %>
            </span>

          </nav>

        </div>

    <div class="container">
      <%= yield %>
      <hr>
      <footer class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger text-white border-bottom shadow p-3 mb-5">Rails Blog, est.2018</footer>
    </div>

  </body>
</html>
